@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .static-row {
    @apply flex flex-row justify-center align-middle;
  }
  .static-grid {
    @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3;
  }
  .header-section {
    @apply mx-auto max-w-7xl px-2 sm:px-6 lg:px-8;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
